# Игнорируем файлы Git
.git
.gitignore

# Игнорируем кэш и временные файлы
__pycache__
*.pyc
*.pyo
*.pyd

# Игнорируем файлы среды разработки
.env
venv
env

# Игнорируем логи и модели
*.log
*.joblib

# Игнорируем файлы IDE
.vscode
.idea
